.contained {
  border: none;
  background-color: whitesmoke;
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.contained:hover {
  background-color: white;
}
.outlined {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  cursor: pointer;
  background: transparent;
  border: 5px solid white;
  font-size: 50px;
}
.outlined:hover {
  font-size: 55px;
  transition-duration: 300ms;
}
